:root {
  color-scheme: light dark;
  color: rgba(0, 181, 236, 0.87);
  background-color: #ffffec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
